[submodule "CHelper-Core/include/fmt"]
	path = CHelper-Core/include/fmt
	url = https://github.com/fmtlib/fmt.git
	branch = master
[submodule "CHelper-Core/include/json"]
	path = CHelper-Core/include/json
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "CHelper-Core/include/utfcpp"]
	path = CHelper-Core/include/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
	branch = master
[submodule "CHelper-Core/include/hedley"]
	path = CHelper-Core/include/hedley
	url = https://github.com/Yancey2023/hedley.git
	branch = master
[submodule "CHelper-Test/include/googletest"]
	path = CHelper-Test/include/googletest
	url = https://github.com/google/googletest.git
	branch = main
[submodule "CHelper-Web/include/emscripten"]
	path = CHelper-Web/include/emscripten
	url = https://github.com/emscripten-core/emscripten.git
	branch = main
[submodule "CHelper-Core/include/serialization"]
	path = CHelper-Core/include/serialization
	url = https://github.com/Yancey2023/serialization.git
	branch = master
