Checks: -*,
  mpi-*,
  bugprone-*,
  -bugprone-switch-missing-default-case,
  -bugprone-signal-handler,
  -bugprone-narrowing-conversions,
  -bugprone-redundant-branch-condition,
  -bugprone-exception-escape,
  -bugprone-multiple-new-in-one-expression,
  -bugprone-unchecked-optional-access,
  -bugprone-shared-ptr-array-mismatch,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-signed-char-misuse,
  -bugprone-inc-dec-in-conditions,
  -bugprone-incorrect-enable-if,
  -bugprone-unhandled-exception-at-new,
  -bugprone-optional-value-conversion,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-unsafe-functions,
  -bugprone-infinite-loop,
  -bugprone-easily-swappable-parameters,
  -bugprone-unique-ptr-array-mismatch,
  -bugprone-non-zero-enum-to-bool-conversion,
  -bugprone-not-null-terminated-result,
  -bugprone-standalone-empty,
  -bugprone-stringview-nullptr,
  cert-err52-cpp,
  cert-err60-cpp,
  cert-err34-c,
  cert-str34-c,
  cert-dcl21-cpp,
  cert-msc50-cpp,
  cert-msc51-cpp,
  cert-dcl58-cpp,
  cert-flp30-c,
  cppcoreguidelines-pro-type-member-init,
  cppcoreguidelines-slicing,
  cppcoreguidelines-interfaces-global-init,
  cppcoreguidelines-pro-type-static-cast-downcast,
  cppcoreguidelines-narrowing-conversions,
  google-default-arguments,
  google-runtime-operator,
  google-explicit-constructor,
  hicpp-multiway-paths-covered,
  hicpp-exception-baseclass,
  misc-unconventional-assign-operator,
  misc-misplaced-const,
  misc-new-delete-overloads,
  misc-non-copyable-objects,
  misc-throw-by-value-catch-by-reference,
  misc-uniqueptr-reset-release,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-use-constraints,
  -modernize-type-traits,
  -modernize-use-std-print,
  -modernize-use-using,
  -modernize-use-default-member-init,
  -modernize-macro-to-enum,
  openmp-use-default-none,
  performance-*,
  -performance-noexcept-swap,
  -performance-noexcept-destructor,
  -performance-enum-size,
  -performance-no-int-to-ptr,
  -performance-avoid-endl,
  portability-simd-intrinsics,
  readability-*,
  -readability-redundant-preprocessor,
  -readability-named-parameter,
  -readability-function-size,
  -readability-simplify-boolean-expr,
  -readability-identifier-length,
  -readability-duplicate-include,
  -readability-magic-numbers,
  -readability-braces-around-statements,
  -readability-redundant-member-init,
  -readability-suspicious-call-argument,
  -readability-qualified-auto,
  -readability-isolate-declaration,
  -readability-uppercase-literal-suffix,
  -readability-container-data-pointer,
  -readability-else-after-return,
  -readability-redundant-access-specifiers,
  -readability-avoid-unconditional-preprocessor-if,
  -readability-function-cognitive-complexity,
  -readability-operators-representation,
  -readability-implicit-bool-conversion,
  -readability-identifier-naming,
  -readability-reference-to-constructed-temporary