name: CMake on multiple platforms

on:
  push:
    branches: [ "master", "dev" ]
    paths:
      - '.github/test-resource.yml'
      - 'CHelper-Resource/**'
  pull_request:
    branches: [ "master", "dev" ]
    paths:
      - '.github/test-resource.yml'
      - 'CHelper-Resource/**'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

      matrix:
        build_type: [ Release ]
        c_compiler: [ clang ]
        include:
          - os: ubuntu-latest
            c_compiler: clang
            cpp_compiler: clang++

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Set reusable strings
        id: strings
        shell: bash
        run: |
          echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

      - name: Configure CMake
        run: >
          cmake -B ${{ steps.strings.outputs.build-output-dir }}
          -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
          -DCMAKE_C_COMPILER=${{ matrix.c_compiler }}
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
          -S ${{ github.workspace }}

      - name: Build CHelperCmd
        run: cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build_type }} --target CHelperCmd

      - name: Run CHelperCmd
        working-directory: ${{ steps.strings.outputs.build-output-dir }}
        run: ./CHelper-Cmd/CHelperCmd
